.root {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    border-right: 1px solid #DBDBDB;
    height: 100vh;
    width: 15vw;
    /* padding: 12px; */
    margin: 5px;
}

.header_title {
    margin-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #0D062D;

}

.sidebar_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 12px; */
    /* margin: 2px; */
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
}

.project_m {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar_section1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding: 12px; */
    /* margin: 5px; */

}

.section1_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    /* padding: 12px;
    margin: 5px; */

}

.logo {
    height: 24px;
    width: 24px;
}

.logo1 {
    height: 20px;
    width: 20px;
}

.logo2 {
    height: 12px;
    width: 12px;
    margin-left: -5px;
}

.home {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.message {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.tasks {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.members {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.settings {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}